.section-2 {
    padding: 40px 0 40px 0;
    text-align: center;

    .centered {
        padding: 30px 0 30px 0;

        h2 {
            font-size: 3em;
            color: $fonts;
            letter-spacing: 2px;
        }

        .separator {
            width: 25px;
            position: relative;
            left: 50%;
            top: 50%;
            border-bottom: 2px solid black;
            margin: 25px 0 25px 0;
        }

        p {
            font-family: Kazuka light;
        }
    }

    .icons {
        h2 {
            font-size: 24px;
            padding: 0 20px 0 20px;
        }
        img {
            transform: scale(0.6, 0.6);
            -ms-transform: scale(0.6, 0.6);
            -webkit-transform: scale(0.6, 0.6);
        }
        p {
            font-family: Kazuka light;
            line-height: 20px;
            font-size: 12px;
        }
    }

    .buttons {
        button {
            background-color: white;
            margin-top: 3em;
            height: 40px;
            color: white;
            border-radius: 99px !important;
            border: 0px;
            padding: 0.5em 2.4em 0.5em 2.4em;
            font-size: 0.9em;
            border-radius: 0.3em;
            box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
        }
    
        .button-1 {
            background-color: $accent;
        }
    
        .button-2 {
            color: $accent;
            border: 2px solid $accent;
        }
    
        p {
            padding-top: 10px;
            font-size: 12px;
            text-align: center !important;
        } 
    }
}
